/bin
/dist

# VS Code
.vscode

# IntelliJ
.idea

# macOS
.DS_Store

# vim
*.swp

vendor/

# local build
algolia

# Environment variables
*.env

# Output of transformation generation
helper.ts
index.js
package.json
sample.js
