import { Helper } from "./helper.js";
import Sample from "./sample.json" assert {type: "json"};

type SourceRecord = typeof Sample;

{{ .Typedef }}

/**
 * This is the default javascript transformation function, you cannot rename it or change its signature.
 * This function will be called for each item in the dataset.
 * @param {SourceRecord} record - Represent one item from your dataset - Type is inferred from the input record.
 * @param {Helper} helper - Use it to reference Secrets and get Metadata.
 * @returns {SourceRecord|Array<SourceRecord>} - Return a record or an array of records.
 */
async function transform(record: SourceRecord, helper: Helper) {

    // If you want to exclude a record, you can just return undefined.
    // If you want to return multiple records, you can return an array of records.
    return record;
}
